<div id="<%= dom_id expenditure %>">

  <div class='exp-card-container d-flex justify-content-between border rounded mb-3 p-3'>
          <%Category.where(id: expenditure.category_id).each do |cat| %>
            <img src="<%=asset_path("icons/#{cat.icon}.png")%>" alt="<%=cat.name %>" class="card-image">
          <%end%>

          <div class='exp-info'>
              <p class='info-title'>
                <%= expenditure.name %>
              </p>

              <p class='info-amount'>$
                <%= expenditure.amount %>
              </p>
          </div>
          
          <div>
            <%= link_to "Show", expenditure, class: 'btn btn-outline-success btn-show' %>
          </div>
        </div>


</div>
