<%
  categories = [
    {
      icon: 'bill_icon',
      name: 'Bills'
    },
    {
      icon: 'food_icon',
      name: 'Food'
    },
    {
      icon: 'game_icon',
      name: 'Videogames'
    },
    {
      icon: 'healthcare_icon',
      name: 'Healthcare'
    },
    {
      icon: 'movies_icon',
      name: 'Entertaiment'
    },
    {
      icon: 'music_icon',
      name: 'Music'
    },
    {
      icon: 'sports_icon',
      name: 'Sports'
    }
  ]
%>

<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :icon, required: 'required' %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class='cat-icon'>
    <%= form.label :Select_Icon, style: "display: block" %>
    <div class='icon-container'>
      <% categories.each do |cat| %>
        <div onclick = "iconChoice('<%= cat[:icon]%>')">
          <%= image_tag("icons/#{cat[:icon]}.png")%>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script>
const icon_input = document.getElementById('category_icon');

const iconChoice = (icon) => {
  icon_input.value = icon;
}
</script>
