<p style="color: green"><%= notice %></p>

<%= render @category %>

<%= link_to 'New expense', new_expenditure_path%>

<div>
  <% @expenditures.each do |spend|%>
    <%= spend.name %>
    $<%= spend.amount %>
  <% end %>
</div>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
