<p style="color: green"><%= notice %></p>

<%= render @category %>

<%= link_to 'New expense', new_category_expenditure_path(params[:id])%>

<div>
  <% @expenditures.each do |spend|%>
    <%= spend.name %>
  <% end %>
</div>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
